*{
    margin: 0;
    padding:0;
}

/*阿里图标*/
@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot');
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont/iconfont.woff') format('woff'),
    url('iconfont/iconfont.ttf') format('truetype'),
    url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: #fff;
    color: #666;
    font: 12px/1.5  Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
}
a{
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #c81623;
}
em,i{
    font-style: normal;
}
del{
    text-decoration: line-through;
}

/*清除列表样式*/
ul,ol,li{
    list-style:none;
}

/*input去蓝色边框*/
input{
    outline:none;
}
button, input {
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
fieldset,img{
    border:0 none;
    vertical-align: middle;
}

/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: "";
    height: 0;
}

/*快捷导航*/
#shortcut{
    background-color: #f1f1f1;
}
#shortcut .shortcut-main{
    width:1210px;
    height:30px;
    margin:0 auto;
    line-height:30px;
    color:#333;
    z-index:12;
}
#shortcut .shortcut-main .sm-left{
    position: relative;
    float: left;
    z-index: 21;
}
#shortcut .shortcut-main .sm-left.hover{
    z-index: 22;
}
#shortcut .shortcut-main .sm-left .sm-left-location{
    height:28px;
    line-height:28px;
    padding-left:7px;
    padding-right:7px;
    overflow: hidden;
    position: relative;
    float: left;
    z-index: 1;
    border:1px solid #f1f1f1;
}
#shortcut .shortcut-main .sm-left.hover .sm-left-location{
    padding-bottom:2px;
    border-color: #ccc;
    border-bottom:none;
    background: #FFFFFF;
}
.icon-location{
    font-size: 24px;
    float: right;
    color: #6A6A6A;
    width:24px;
    position: relative;
    top:0;
    right:0;
    -webkit-transition: transform 0.2s ease-out 0s;
    -moz-transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
}
#shortcut .shortcut-main .sm-left.hover .icon-location{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
#shortcut .shortcut-main .sm-left .sm-left-dorpdown{
    width:300px;
    line-height:24px;
    padding:10px;
    position: absolute;
    top:30px;
    left:0;
    border:1px solid #ccc;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
    display: none;
}
#shortcut .shortcut-main .sm-left.hover .sm-left-dorpdown{
    display: block;
}
#shortcut .shortcut-main .sm-left .sm-left-dorpdown .dorpdown-content .item{
    float: left;
    width:60px;
    padding:2px 0;
}
#shortcut .shortcut-main .sm-left .sm-left-dorpdown .dorpdown-content .item a{
    float: left;
    padding:0 8px;
    color: #999;
}
#shortcut .shortcut-main .sm-left .sm-left-dorpdown .dorpdown-content .item a:hover{
    background: #f4f4f4;
    color: #c81623;
}
#shortcut .shortcut-main .sm-left .sm-left-dorpdown .dorpdown-content .item a.selected{
    background: #f10215;
    color: #FFFFFF;
}

/*快捷导航右半部分*/
.dorpdown-layer{
    display: none;
    position: absolute;
    border:1px solid #ccc;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
}
#shortcut .shortcut-main .sm-right{
    float: right;
}
#shortcut .shortcut-main .sm-right li{
    float: left;
    padding:0 7px;
}
#shortcut .shortcut-main .sm-right li a{
    color: #333;
}
#shortcut .shortcut-main .sm-right li a:hover{
    color: #c81623;
}
#shortcut .shortcut-main .sm-right li.spacer{
    width:1px;
    height:10px;
    overflow: hidden;
    margin:11px 5px 0;
    background-color:#ccc;
    padding:0;
}
#sm-login{
    margin-right:8px;
    z-index: 20;
}
#shortcut .shortcut-main .sm-right li .dorp{
    position: relative;
    padding-left:7px;
    height:28px;
    line-height: 28px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #f1f1f1;

}
#shortcut .shortcut-main .sm-right li .dorp:hover .iconfont{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
#shortcut .shortcut-main .sm-right li .dorp .iconfont{
    position: relative;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    float: right;
    -webkit-transition: transform 0.2s ease-out 0s;
    -moz-transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
}
#shortcut .shortcut-main .sm-right li.dorpdown-li{
    position: relative;
    z-index: 21;
    padding:0;
}
#shortcut .shortcut-main .sm-right li.dorpdown-li.hover{
    z-index: 22;
}
#shortcut .shortcut-main .sm-right li.dorpdown-li.hover .dorp{
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
#shortcut .shortcut-main .sm-right li.dorpdown-li.hover .dorpdown-layer{
    display: block;
}
#shortcut .shortcut-main .sm-right li.myjd .dorpdown-layer{
    left:0;
    width:280px;
    top:30px;
}
#shortcut .shortcut-main .sm-right li.myjd .dorpdown-layer ul{
    padding:10px 0 10px 15px;
    overflow: hidden;
}
#shortcut .shortcut-main .sm-right li.myjd .dorpdown-layer ul li{
    line-height: 24px;
    width:126px;
    float: left;
    padding:0;
}
#shortcut .shortcut-main .sm-right li.customer .dorpdown-layer{
    right:0;
    width:170px;
    padding:10px 0;
    top:30px;
    line-height:24px;
}
#shortcut .shortcut-main .sm-right li.customer .dorpdown-layer ul{
    overflow: hidden;
}
#shortcut .shortcut-main .sm-right li.customer .dorpdown-layer ul li{
    display: inline-block;
    width: 70px;
    padding-left: 15px;
    padding-right:0;
}
#shortcut .shortcut-main .sm-right li.customer .dorpdown-layer p{
    padding-left: 15px;
    font-weight: 700;
    color: #666;
}
#shortcut .shortcut-main .sm-right li.sitemap .dorpdown-layer{
    right: 0;
    width: 1188px;
    padding: 15px 0;
    top:30px;
    line-height: 24px;
}
#shortcut .shortcut-main .sm-right li.sitemap .dorpdown-layer ul{
    float: left;
    width: 255px;
    padding-left: 20px;
    border-left: 1px solid #eee;
}
#shortcut .shortcut-main .sm-right li.sitemap .dorpdown-layer ul.fore{
    width:340px;
    border-left:none;
}
#shortcut .shortcut-main .sm-right li.sitemap .dorpdown-layer ul h3{
    margin-bottom: 5px;
    font-weight: 700;
    color: #666;
}
#shortcut .shortcut-main .sm-right li.sitemap .dorpdown-layer ul li{
    overflow: hidden;
    float: left;
    width: 85px;
    white-space: nowrap;
    padding:0;
}
#shortcut .shortcut-main .sm-right li.guanzhu .dorpdown-layer{
    right: 0;
    width: 80px;
    padding: 0 0 10px 0;
    top:30px;
    line-height: 24px;
}
#shortcut .shortcut-main .sm-right li.guanzhu .dorpdown-layer img{
    display: block;
    width:80px;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer{
    left: 0;
    width: 250px;
    padding: 10px;
    top:30px;
    line-height: 24px;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .xian{
    width:250px;
    position: relative;
    border-top:1px dashed #999;
    margin:5px 0;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .mobile-pop-qrcode img{
    float: left;
    width:100px;
    margin-right:10px;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .mobile-pop-device-lk{
    overflow: hidden;
    float: left;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    background-image: url("../img/index/sprite_mobile.png");
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .mobile-pop-value{
    margin-bottom:15px;
    color: #C81623;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .mobile-pop-device-ios{
    background-position: 0 0;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .mobile-pop-device-and{
    background-position: 0 -26px;
}
#shortcut .shortcut-main .sm-right li.mobilejd .dorpdown-layer .mobile-pop-device-pad{
    background-position: 0 -52px;
}
#shortcut .shortcut-main .sm-right li.mobile{
    padding:0;
    position: relative;
    z-index:21;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-txt{
    padding:0 7px;
    width:60px;
    text-align: center;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-static{
    position: absolute;
    left: 7px;
    width: 58px;
    height: 58px;
    border: 1px solid #cfcfcf;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-static .mobile-static-qrcode{
    margin: 4px auto;
    width: 52px;
    height: 52px;
    background: #f6f6f6 url("../img/index/mobile_qrcode.png") 50% no-repeat;
}
.mobile-static-qrcode:before,.mobile-pop:before{
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
.mobile-pop:before{
    border-color: #e4e4e4 #e4e4e4 #fff;
    left: 158px;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop{
    display: none;
    position: absolute;
    left: auto;
    right: 4px;
    top: 30px;
    width: 190px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-bottom: 3px solid #60575a;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item{
    position: relative;
    z-index: 5;
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-qrcode{
    position: absolute;
    left: 10px;
    top: 18px;
    width: 64px;
    height: 64px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-qrcode img{
    width: 64px;
    height: 64px;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info{
    margin: 0 10px 0 86px;
    min-height: 70px;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-tit{
    font-size: 12px;
    line-height: 12px;
    color: #666;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-value {
    margin: 3px 0;
    line-height: 14px;
    color: #F10214;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device{
    overflow: hidden;
    height: 25px;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .mobile-pop-device-lk{
    overflow: hidden;
    float: left;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    background-image: url("../img/index/sprite_mobile.png");
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .mobile-pop-device-ios{
    background-position: 0 0;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .mobile-pop-device-and{
    background-position: 0 -26px;
}
#shortcut .shortcut-main .sm-right li.mobile .mobile-pop .mobile-pop-item .mobile-pop-info .mobile-pop-device .mobile-pop-device-pad{
    background-position: 0 -52px;
}
#shortcut .shortcut-main .sm-right li.mobile.hover .mobile-static{
    display: none;
}
#shortcut .shortcut-main .sm-right li.mobile.hover .mobile-pop{
    display: block;
}


/*header*/
#header .header-content{
    width:1210px;
    height: 100px;
    margin:0 auto;
    z-index: 11;
    position: relative;
}
#logo{
    position: absolute;
    z-index: 12;
    float: left;
    width: 362px;
    height: 60px;
    padding: 20px 0;
}
#logo .logo-tit .logo-tit-lk{
    overflow: hidden;
    display: block;
    width: 270px;
    height: 60px;
    background-image: url("../img/list/logo.png");
    background-repeat: no-repeat;
}

/*search*/
.search-m{
    position: relative;
    height: 60px;
    z-index: 11;
}
.search-m .form{
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search-m .form .text{
    float: left;
    width: 446px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.search-m .form .button{
    float: left;
    width: 82px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
    outline:none;
}
.search-m .form .button .iconfont{
    font-size:20px;
}
.search-logo{
    display: none;
}
.search-fix{
    position: fixed;
    z-index: 100;
    left: 0;
    top: -50px;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.search-fix .search-m{
    margin: auto;
    width: 1190px;
    height: 48px;
}
.search-fix .search-m .search-logo{
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;
}
.search-fix .search-m .search-logo-lk{
    overflow: hidden;
    display: block;
    width: 125px;
    height: 40px;
    background-image: url("../img/index/logo-v2.png");
    background-repeat: no-repeat;
    text-indent: -999px;
}
.search-fix .search-m .form{
    top:6px;
}
.search-fix .search-m .form .text{
    border-color: #efefef;
    background-color: #efefef;
}


/*购物车*/
#settleup{
    position: absolute;
    right: 95px;
    top: 25px;
    z-index:21;
}
#settleup .cw-icon{
    width: 188px;
    height: 33px;
    line-height: 33px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
#settleup .cw-icon .ci-count{
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
    font-style: normal;
}
#settleup .cw-icon .iconfont{
    margin-right: 3px;
    font-size: 16px;
    color: #f10214;
    font-size: 18px;
}
#settleup .cw-icon a{
    color: #F10214;
}
#settleup.hover{
    z-index: 22;
}
#settleup.hover .cw-icon{
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
}
#settleup .dorpdown-layer{
    top:35px;
    right: 0;
    width: 308px;
}
#settleup .prompt{
    padding: 10px 15px;
}
#settleup .nogoods {
    padding-left: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}
#settleup .nogoods b{
    float: left;
    width: 56px;
    height: 49px;
    background-image: url("../img/index/noneshoppingcart.png");
}
#settleup.hover .dorpdown-layer{
    display: block;
}

/*hotwords*/
#hotwords{
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
#hotwords a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #333;
}

/*navitems*/
#nav-wrap{
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.nav{
    width:1210px;
    margin: 0 auto;
    position: relative;
}
.sidbar-wrap{
    overflow: visible;
    background: #B1191A;
    z-index: 10;
    width: 210px;
    float: left;
    height: auto;
    left: 0px;
    position: absolute;
}
.sidbar-tit{
    display: block;
    width: 190px;
    height: 44px;
    padding: 0 10px;
    background: #B1191A;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
    text-decoration: none;
}
.sidbar-tit:hover{
    color: #fff;
}
.sidbar-wrap .icon{
    height:44px;
    line-height:44px;
    float: right;
    font-size:25px;
    font-weight:500;
    color: #fff;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    display: block;

}
.sidbar-wrap:hover .icon{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.bc-left{
    margin-top:2px;
    background: #c81623;
    height: 466px
}
.sidebar{
    position: relative;
    z-index: 2;
}
.sidebar-list{
    overflow: hidden;
    height: 450px;
    color: #fff;
}
.sidebar-list-item{
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    padding-left:10px;
    border-left:1px solid #b61d1d;
}
.sidebar-line{
    font-weight:700;
}
.sidebar-list-item.active{
    background-color: #f7f7f7;
    border-left:1px solid #b61d1d;
}
.sidebar-list-item.active .sidebar-txt{
    color: #B61D1D;
}
.sidebar-list-item.active .sidebar-line{
    color: #B61D1D;
}
.sidebar-txt{
    font-size:14px;
    color: #fff;
}
.sidebar-line{
    padding: 0 4px;
    font-size: 12px;
}
/*内容*/
.sidebar-content{
    position: absolute;
    left: 210px;
    top: 0;
    width: 998px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
}
.sidebar-content-item{
    padding:20px 0 10px;
}
.sidebar-content-item-left{
    float: left;
    width: 800px;
}
.item-main-top{
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
}
.item-main-lk{
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #6e6568;
    line-height: 24px;
    color: #fff;
}
.item-main-lk:hover {
    background-color: #5c5251;
    color: #fff;
}
.item-main-icon{
    margin-left:5px;
    font-size:12px;
}
.item-main-bottom{
    overflow: hidden;
    padding:10px 0 0 20px;
}
.item-main-content{
    position: relative;
    padding-left: 80px;
}
.content-title{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 9px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-con{
    border-top:none;
    overflow: hidden;
    padding:6px 0;
}
.content-con-lk{
    float: left;
    margin: 4px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
}
.sidebar-content-item-right{
    float: right;
    width: 198px;
}
.sidebar-content-simg{
    margin:0 auto;
    width:168px;
    font-size:0;
}
.simg-lk{
    overflow: hidden;
    display: inline-block;
    width: 83px;
    height: 35px;
    margin: 0 0 1px 1px;
    background-color: #e7e7e7;
}
.sidebar-content-bimg{
    margin:10px auto 0;
    width:168px;
}
.bimg-lk{
    display: block;
    margin-bottom: 1px;
    height: 134px;
    background-color: #e7e7e7;
}
.navitems{
    overflow: hidden;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 2;
    padding-left:210px;
}
.navitems ul{
    float: left;
}
.navitems li{
    margin-left:30px;
    float: left;

}
.navitems a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.navitems a:hover{
    color: #c81623;
}

/*商品主题*/
.crumbsBar-wrap{
    background: #f2f2f2;
}
.crumbsBar{
    width:1210px;
    margin:0 auto;
}
.crumbsBar-bar{
    position: relative;
    z-index: 5;

}
.crumbsBar-nav{
    height:45px;
    line-height:45px;
}
.crumbsBar-nav-item{
    float: left;
    margin-right: 10px;
}
.crumbsBar-lk{
    float: left;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: "microsoft yahei";
}
.crumbsBar-arroww{
    font-family: simsun;
    font-style: normal;
}
.menu-drop{
    display: inline-block;
    height: 25px;
    cursor: pointer;
    float: left;
    line-height: 25px;
    margin-right: 5px;
}
.trigger{
    display: inline-block;
    height: 25px;
    padding: 0 10px 0 0;
    line-height: 25px;
    vertical-align: top;
}
.curr{
    display: inline-block;
    vertical-align: top;
    margin-right:10px;
}
.menu-drop-arrow{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background: url("../img/list/search.png") no-repeat 4px 7px;
}

/*商品详情*/
#detail-wrap{
    border-bottom: solid 1px #f2f2f2;
    margin-bottom: 10px;
    background: #f2f2f2;
}
.detail{
    width:1210px;
    margin:0 auto;
    background: #fff;
}
.detail-product{
    width: 100%;
    position: relative;
    z-index: 3;
}
.preview{
    float: left;
    padding-bottom: 15px;
    display: inline;
    width: 378px;
    position: relative;
}
.jqzoom{
    width: 350px;
    height: 350px;
    margin: 14px 0 14px 14px;
    position: relative;
    padding: 0;
}
.jqzoompup{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 175px;
    height: 175px;
    visibility: visible;
    border: 1px solid #aaa;
    background: #FEDE4F 50% top no-repeat;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    filter: alpha(Opacity=50);
    cursor: move;
    display: none;
}
.zoomdiv{
    z-index: 8;
    position: absolute;
    top: 0;
    left: 376px;
    border: 1px solid #e4e4e4;
    text-align: center;
    overflow: hidden;
    width: 400px;
    height: 400px;
    display: none;
    background: #fff;
}
.bigimg{
    width:800px;
    height:800px;
    position: absolute;
    left:0;
    top:0;
}.tab-list{
     position: relative;
     width: 310px;
     height: 54px;
     overflow: hidden;
     padding: 0 20px 0 34px;
 }
.tab-control{
    display: block;
    position: absolute;
    top: 0;
    width: 14px;
    height: 54px;
    background-image: url("../img/detail/newicon.png");
    background-repeat: no-repeat;
}
.tab-next:hover{
    background-position: -43px -346px;
}
.tab-prev:hover{
    background-position: -28px -346px;
}
.tab-prev.disabled{
    cursor: default;
    background-position: -56px -346px;
}
.tab-next.disabled{
    cursor: default;
    background-position: -70px -346px;
}
.tab-prev{
    left: 14px;
    background-position: 0 -346px;
}
.tab-next{
    right: 0;
    background-position: -14px -346px;
}
.spec-item{
    position: absolute;
    width: 310px;
    height: 54px;
    overflow: hidden;
    top: 0;
    left: 36px;
}
.lh{
    overflow: hidden;
    zoom: 1;
}
.lh-item{
    width: 62px;
    text-align: center;
    font-size: 0;
    position: relative;
    float: left;
}
.lh-img{
    width: 50px;
    height: 50px;
    padding: 2px;
    display: block;
}
.lh-img.img-hover{
    border: 2px solid #e4393c;
    padding: 0;
}
.short-share{
    zoom: 1;
    padding: 24px 40px 0 34px;
    overflow: hidden;
}
.share-list{
    padding: 0 10px 0 17px;
    position: relative;
    float: left;
    display: block;
    white-space: nowrap;
    text-decoration: none;
}
.share-list b{
    width: 12px;
    background-position: -162px -296px;
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 0;
    height: 12px;
    overflow: hidden;
    background-image: url("../img/detail/newicon.png");
    background-repeat: no-repeat;
}
.choose-btn-coll{
    position: relative;
    float: left;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    padding-left: 18px;
}
.choose-btn-coll b{

    width: 14px;
    height: 14px;
    top: 3px;
    position: absolute;
    display: inline-block;
    left: 0;
    overflow: hidden;
    background-image: url("../img/detail/newicon.png");
    background-position: -177px -296px;
}
.right-btns{
    float: right;
}
.m-item-inner{
    padding-right: 244px;
    width: 588px;
    float: left;
}
.iteminfo{
    position: relative;
    width: 100%;
}
.name{
    padding: 15px 75px 10px 0;
    zoom: 1;
}
.name-tit{
    line-height: 1.5em;
    overflow: hidden;
    font-weight: 700;
    font-family: arial,"microsoft yahei";
    font-size: 16px;

}
.p-ad{
    font-family: arial,"microsoft yahei";
    color: #e3393c;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
}
.compare{
    position: absolute;
    top: 20px;
    right: 0;
    overflow: hidden;
}
.btn-compare{
    display: inline-block;
    padding: 0 15px;
    border: solid 1px #ddd;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;
    text-align: center;
    color: #323232;
    background: #f5f5f5;
    overflow: hidden;
}
.activity-banner{
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
    zoom: 1;
    background: #e84540 url("../img/detail/seckilling.png") no-repeat;
}
.activity-type{
    float: left;
}
.sprite-sekilling{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/detail/sprite-seckilling.png");
    vertical-align: -4px;
    margin-right: 5px;
}
.sekil-name{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.activity-message{
    float: right;
    color: #fbe2e2;
    font-size: 12px;
}
.activity-message span{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 22px;
    line-height: 24px;
    text-align: center;
    background: #443b3b;
    margin: 0 4px;
    border-radius: 2px;
}
.summary{
    width: 100%;
    position: relative;
    z-index: 3;
}
.summary-info{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 6;
}
.comment-count{
    border-left: solid 1px #e6e6e6;
    text-align: center;
    padding: 0 10px;
    line-height: 15px;
    float: left;
}
.comment{
    color: #999;
}
.count{
    font: 14px verdana;
    color: #005ea7;
}
.count:hover{
    color: #005ea7;
}
.summary-price{
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 81px;
    line-height: 30px;
    background: #f7f7f7;
    padding-left: 72px;
}
.p-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
}
.p-main{
    width: 432px;
}
.p-price{
    display: inline-block;
    vertical-align: middle;
    color: #e4393c;
    font-size: 20px;
    overflow: hidden;
}
.pricing{
    color: #999;
    margin-left: 3px;
}
.summary-top{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
}
.summary-promotion{
    position: relative;
    width: 516px;
    padding-top: 4px;
    padding-right: 0;
    background: #f7f7f7;
    padding-left: 72px;
}
.prom-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
    line-height: 30px;
}
.prom-wrap{
    position: relative;
    overflow: hidden;
    width: 516px;
}
.p-promotions{
    width: 425px;
    line-height: 30px;
}
.item-bg{
    color: #fff;
    background: #e4393c;
    padding: 1px 2px;
    line-height: 12px;
    margin-right: 5px;
    display: inline-block;
}
.item-red{
    color: #e4393c;
}
.s-arrow{
    font: 400 8px simsun;
    text-decoration: none;
}
.summary-support{
    padding-left: 72px;
    padding-right: 20px;
}
.support-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    line-height: 18px;
    display: inline;
    text-align: right;
    font-family: simsun;
}
.support-main{
    width: 493px;
    line-height: 18px;
}
.choose-support{
    overflow: hidden;
    zoom: 1;
}
.old-new{
    margin-right: 20px;
    float: left;
}
.old-new-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/detail/old-new-icon.png") 0 0 no-repeat;
    float: left;
}
.old-new a span{
    color: #e4393c;
}
.summart-stock{
    padding:6px 20px 6px 72px;
}
.stock-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
    margin-top: 4px;
}
.stock-selector{
    position: relative;
    float: left;
    z-index: 3;
    height: 26px;
    margin-right: 6px;
}
.stock-text{
    float: left;
    position: relative;
    top: 0;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 20px 0 4px;
    line-height: 23px;
    overflow: hidden;
}
.stock-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 24px;
    background-position: -264px -188px;
    overflow: hidden;
    background-image: url("../img/detail/newicon.png");
    background-repeat: no-repeat;
}
.stock-prompt{
    float: left;
}
.charges{
    display: inline-block;
    padding: 0 0 0 10px;
}
.summary-service{
    padding:6px 20px 6px 72px;
}
.service-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
}
.summary-weight{
    padding-left: 72px;
    padding-right: 20px;
}
.weight-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    line-height: 18px;
    display: inline;
    text-align: right;
    font-family: simsun;
}
.weight-main{
    width: 493px;
    line-height: 18px;
}
.choose-product{
    width: 100%;
    padding-top: 10px;
    border-top: 1px dotted #ddd;
    margin-top: 5px;
    margin-bottom: 20px;
}
.choose-attr{
    width: 516px;
    padding: 5px 0 5px 72px;
    float: left;
}
.attr-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
    margin-top: 10px;
}
.attr-main{
    overflow: hidden;
}
.attr-item{
    float: left;
    margin: 2px 8px 2px 0;
}
.attr-item-lk{
    font-size: 0;
    padding: 1px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
}
.attr-item-img{
    margin: 1px 3px 1px 1px;
    display: inline-block;
    vertical-align: middle;
}
.attr-item-name{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    font-style: normal;
    margin-right: 3px;
}
.attr-item-lk:hover{
    padding:0;
    border: 2px solid #e4393c;
}
.attr-item.active .attr-item-lk{
    padding:0;
    border: 2px solid #e4393c;
}
.choose-service{
    font-family: simsun;
    line-height: 16px;
    width: 516px;
    padding: 5px 0 5px 72px;
    float: left;
}
.cs-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
    margin-top: 7px;
}
.cs-main{
    overflow: visible;
}
.cs-type{
    position: relative;
}
.cs-type-cat{
    float: left;
    position: relative;
    margin-right: 7px;
}
.cat-item{
    padding: 4px 5px 4px 6px;
    margin-bottom: 2px;
    border: 1px solid #DDD;
    line-height: 20px;
    position: relative;
    font-size: 0;
    cursor: pointer;
}
.cat-item-icon{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.cat-item-name{
    font-size: 12px;
    margin-right: 4px;
    vertical-align: middle;
    max-width: 60px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    word-break: break-all;
}
.cat-item-price{
    margin-right: 5px;
    vertical-align: middle;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}
.arrow-icon{
    width: 15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/detail/newicon.png") no-repeat -264px -195px;
}
.choose-baitiao{
    width: 516px;
    padding: 5px 0 5px 72px;
    float: left;
}
.baitiao-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    display: inline;
    text-align: right;
    font-family: simsun;
    margin-top: 8px;
}
.baitiao-main{
    overflow: visible;
}
.baitiao-list{
    float: left;
}
.baitiao-item{
    float: left;
    margin: 2px 5px 2px 0;
    position: relative;
}
.baitiao-item.active b{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: url("../img/detail/newicon.png") no-repeat -202px -224px;
}
.baitiao-item.active .baitiao-lk{
    padding: 3px 5px;
    border: 2px solid #e4393c;
}
.baitiao-lk{
    padding: 4px 6px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}
.baitiao-lk:hover{
    padding: 3px 5px;
    border: 2px solid #e4393c;
}
.baitiao-lk strong{
    font-weight: 400;
}
.baitiao-tips{
    position: absolute;
    z-index: 6;
    top: 28px;
    left: 0;
    width: 250px;
    padding: 5px 10px;
    background: #fefff7;
    border: 1px solid #ccc;
    color: #666;
    display: none;
}
.baitiao-item.hover .baitiao-tips{
    display: block;
}
.baitiao-tips ul{
    padding-bottom:3px;
}
.baitiao-tips ul li{
    margin-top: 5px;
}
.bt-info-tips{
    float: left;
    height: 32px;
}
.bt-info-lk{
    float: left;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    top: 6px;
    width: 18px;
    height: 18px;
    background: url("../img/detail/newicon.png") no-repeat -132px -292px;
}
.choose-btns{
    width: 578px;
    padding: 10px 0 8px 10px;
    border-bottom: none;
    float: left;
}
.choose-amount{
    width: 49px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    margin: 8px 10px 0 0;
    float: left;
}
.choose-amount a{
    display: block;
    white-space: nowrap;
    text-decoration: none;
    width: 15px;
    text-align: center;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -1px;
    border: 1px solid #ccc;
}
.choose-amount a.disabled{
    color: #ccc;
    cursor: not-allowed;
}
.btn-reduce{
    bottom:-1px;
}
.btn-add{
    top:-1px;
}
#buy-num{
    display: block;
    width: 31px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 1px;
    left: 0;
    border: none;
    border: 0;
    text-align: center;
}
.cart-btn{
    float: left;
    height: 38px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.cart-btn a{
    display: block;
    float: left;
    white-space: nowrap;
    text-decoration: none;
    width: 137px;
    height: 38px;
    line-height: 38px;
    margin-right: 6px;
    overflow: hidden;
    position: relative;
    font: 400 18px/38px "microsoft yahei";
    text-align: center;
    color: #e4393c;
}
.cart-btn a b{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url("../img/detail/p-btns.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.summary-tips{
    width: 516px;
    padding: 5px 0 5px 72px;
    float: left;
    clear: both;
}
.tips-main span{
    float: left;
    line-height: 22px;
    margin-right: 15px;
    font-family: simsun;
}
.tips-name{
    float: left;
    width: 72px;
    margin-left: -72px;
    line-height: 22px;
    display: inline;
    text-align: right;
    font-family: simsun;
}
.m-item-ext{
    width: 244px;
    float: left;
    margin-left: -244px;
    overflow: hidden;
    background: #fff;
}
.brand-logo{
    padding: 10px 0;
    overflow: hidden;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.extinfo{
    width: 200px;
    margin-top: 20px;
    padding: 0 22px
}
.brand-logo a{
    display: block;
    text-align: center;
}
.seller-infor{
    position: relative;
    padding: 15px 9px;
    overflow: hidden;
    line-height: 20px;
    font-size: 0;
}
.seller-lk{
    display: inline-block;
    width: 126px;
    height: 20px;
    color: #005aa0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 12px;
}
.u-jd{
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    width: 54px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 3px;
    font-family: simsun;
    color: #fff;
    background: #e4393c;
}
.customer-service{
    margin-bottom: 10px;
    line-height: 24px;
}
.btn-gray{
    width: 90px;
    height: 28px;
    line-height: 30px;
    padding: 0;
    margin: 2px;
    border: 1px solid #cdcdcd;
    background: #f9f9f9;
    border-radius: 0;
    color: #666;
    text-align: center;
    display: inline-block;
}
.btn-gray:hover{
    color: #000;
}
.btn-gray i{
    display: inline-block;
    width: 17px;
    height: 18px;
    margin-right: 5px;
    background: url("../img/detail/attr/popScore.png") no-repeat;
    vertical-align: -4px;
}
.gys-im .btn-gray i{
    background: url("../img/detail/attr/sprite-gys-im.gif") 0 0 no-repeat;
}
.gys-jimi .btn-gray i{
    background-position: -130px 0;
}
.enter i{
    background-position: -104px 0;
}
.focus i{
    background-position: -78px 0;
}
.jd-service{
    width: 210px;
    margin-right: -23px;
    zoom: 1;
    overflow: hidden;
    padding: 0 0 10px 9px;
}
.jd-service dt{
    clear: both;
    padding-bottom: 10px;
}
.jd-service dd{
    width: 95px;
    height: 16px;
    float: left;
    padding: 0 10px 10px 0;
}
.jd-support-ico{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    _line-height: 17px;
    padding-left: 16px;
    padding-right: 2px;
    overflow: hidden;
    color: #6a77b6;
}
.jd-support-ico img{
    width: 16px;
    height: 16px;
    float: left;
    margin-left: -16px;
    margin-right: 4px;
    display: inline;
}


/*底部*/
#footer{
    height:500px;
    padding-bottom:30px;
}
.footer-service{
    padding:30px 0;
    border-bottom:1px solid #dedede;
    background-color: #eaeaea;
}
.footer-service-inner{
    margin:0 auto;
    width:1190px;
}
.footer-service-list{
    overflow: hidden;
    height:42px;
}
.footer-service-item{
    float: left;
    width:297px;
}
.footer-service-unit{
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.footer-service-tit{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background-image: url("../img/index/ico_service.png");
    text-indent: -999px;
}
.footer-service-txt{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.tit-duo{
    background-position: 0 0;
}
.tit-kuai{
    background-position: 0 -43px;
}
.tit-hao{
    background-position: 0 -86px;
}
.tit-sheng{
    background-position: 0 -129px;
}
.footer-help{
    padding:20px 0;
}
.footer-help-inner{
    margin: 0 auto;
    width: 1190px;
}
.footer-help-list{
    overflow: hidden;
    height:160px;
}
.footer-help-nav{
    float: left;
    width: 198px;
    line-height: 22px;
}
.footer-help-nav-tit{
    margin-bottom:5px;
    font-size:14px;
}
.footer-help-cover{
    float: right;
    width: 200px;
    height: 150px;
    background: url("../img/index/ico_footer.png") no-repeat 0 0;
}
.footer-help-cover-tit{
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.footer-help-cover-con{
    padding:0 10px;
}
.footer-help-cover-more{
    text-align: right;
}
.footer-help-cover-more i.iconfont{
    font-size:12px;
}
.footer-copyright-inner{
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    margin:0 auto;
    width:1190px;
}
.footer-copyright-splite{
    margin: 0 10px;
    color: #ccc;
}
.footer-copyright-info{
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
.footer-copyright-info a{
    color: #999;
}
.footer-copyright-auth-ico{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    background-image: url("../img/index/ico_footer.png");
    line-height: 1000px;
}
.footer-copyright-auth-ico-1{
    background-position: 0 -151px;
}
.footer-copyright-auth-ico-2{
    background-position: -104px -151px;
}
.footer-copyright-auth-ico-3{
    background-position: 0 -184px;
}
.footer-copyright-auth-ico-4{
    background-position: -104px -184px;
}
.footer-copyright-auth-ico-5{
    background-position: 0 -217px;
}
.footer-copyright-auth-ico-6{
    background-position: -104px -217px;
}

/*右边栏*/
.jd-toolbar-tab .tab-ico, .jd-toolbar-tab .tab-tip, .jd-toolbar-panel-header i, .jd-toolbar-panel-header .close-panel{
    display: inline-block;
    background-image: url("../img/index/toolbars.png");
    _background-image: url("../img/index/toolbars.png");
    background-repeat: no-repeat;
}
.jd-toolbar-wrap{
    position: fixed;
    _position: absolute;
    top: 0;
    right: 0;
    z-index: 9990;
    width: 0;
    height: 100%;
}
.jd-toolbar{
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
    -webkit-transition: right .3s ease-in-out 0s;
    -moz-transition: right .3s ease-in-out 0s;
    transition: right .3s ease-in-out 0s;
}
.jd-toolbar-panels{
    position: absolute;
    left: 6px;
    _left: 6px;
    top: 0;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #eceaea;
    _display: none;
}
.jd-toolbar-panel{
    width: 270px;
    height: 100%;
    position: absolute;
    background: #eceaea;
}
.jd-toolbar-panel-header{
    position: relative;
    width: 270px;
    height: 40px;
    line-height: 40px;
    background: #eceaea;
}
.jd-toolbar-panel-header i{
    margin-right: 4px;
    margin-left: 10px;
    vertical-align: top;
}
.jd-toolbar-panel-header .title{
    display: inline-block;
    height: 40px;
    color: #5e5050;
    font: 16px/40px "微软雅黑";
}
.jd-toolbar-panel-header .close-panel{
    width: 12px;
    height: 12px;
    background-position: 0 -250px;
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
    -webkit-transition: transform 0.2s ease-out 0s;
    -moz-transition: transform 0.2s ease-out 0s;
    transition: transform 0.2s ease-out 0s;
}
.jd-toolbar-panel-header .close-panel:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.jd-toolbar-panel-main{
    position: relative;
    background: #333;
}
.jd-toolbar-panel-content{
    width: 270px;
    height:636px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.jd-toolbar-panel-content img{
    vertical-align: bottom;
}
.jd-toolbar-panel-content-top{
    width: 255px;
    height: 225px;
    margin-bottom: 0 !important;
}
.content-top-main{
    overflow: hidden;
}
.jd-toolbar-panel-content-bag{
    width: 241px;
    overflow: hidden;
    padding: 0 0 20px 14px;
    margin-bottom: 0 !important;
}
.jd-toolbar-panel-content-banner{
    width: 241px;
    overflow: hidden;
    padding: 0 0 20px 14px;
    margin-bottom: 0 !important;
}
.content-banner-item{
    float: left;
    width: 37px;
    height: 147px;
    margin-right: 10px;
}
.content-bag-left{
    float: left;
    width: 108px;
    height: 97px;
    margin-right: 11px;
    position: relative;
}
.content-bag-left img{
    position: absolute;
    top: 0;
    left: 0;
}
.content-bag-right{
    float: left;
    width: 108px;
    height: 97px;
    margin-right: 11px;
}
.jd-toolbar-panel-content-item{
    width: 255px;
    overflow: hidden;
    padding-bottom: 9px;
}
.content-item-l{
    width: 227px;
    overflow: hidden;
    margin: 0 auto;
}
.content-item-tit{
    width: 227px;
    height: 32px;
    text-align: center;
    font: bold 14px/32px 'Microsoft Yahei';
    color: #fff;
}
.content-item-tit a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.content-item-mark .content-item-tit a{
    background: #bf4949;
}
.content-item-3c .content-item-tit a{
    background: #4889d4;
}
.content-item-dq .content-item-tit a{
    background: #bf4949;
}
.content-item-fs .content-item-tit a{
    background: #7e5ac4;
}
.content-item-sx .content-item-tit a{
    background: #8a9934;
}
.content-item-sj .content-item-tit a{
    background: #6b393a;
}
.content-item-tit em{
    float: left;
    width: auto;
    font-style: normal;
    font-weight: 500;
}
.content-item-tit span{
    float: left;
    background-image: url("../img/index/toolbar/icon.png");
    padding-right: 9px;
}
.content-item-mark .content-item-tit span{
    width: 14px;
    height: 14px;
    background-position: 0 0;
    margin: 8px 0 0 68px;
}
.content-item-3c .content-item-tit span{
    width: 17px;
    height: 15px;
    background-position: 0 -21px;
    margin: 8px 0 0 68px;
}
.content-item-dq .content-item-tit span{
    width: 14px;
    height: 16px;
    background-position: 0 -43px;
    margin: 8px 0 0 67px;
}
.content-item-fs .content-item-tit span{
    width: 20px;
    height: 14px;
    background-position: 0 -66px;
    margin: 9px 0 0 64px;
}
.content-item-sx .content-item-tit span{
    width: 15px;
    height: 17px;
    background-position: 0 -86px;
    margin: 6px 0 0 67px;
}
.content-item-sj .content-item-tit span{
    float: left;
    background-image: url("../img/index/toolbar/mojd.png");
    padding-right: 9px;
    width: 20px;
    height: 21px;
    background-position: 0 -106px;
    margin: 10px 0 0 68px;
}
.content-item-list{
    width: 227px;
    overflow: hidden;
    background: url("../img/index/toolbar/list.png") repeat-y 75px 9px;
    display: none;
    margin: 0 auto;
}
.content-item-list li{
    float: left;
    width: 75px;
    height: 12px;
    font: 12px/12px 'Microsoft Yahei';
    padding-top: 9px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-item-list li a{
    color: #797979;
    text-decoration: none;
}
.content-item-mobilejd{
    width: 227px;
    height: 147px;
    background: url("../img/index/toolbar/mobilejd.gif") no-repeat center top #271c1c;
    padding-top: 18px;
    display: none;
}
.content-item-mobilejd img{
    display: block;
    margin:0 auto;
}
.jd-toolbar-cart{
    width: 270px;
    height: 100%;
    position: absolute;
    background: #eceaea;
}
.jd-toolbar-panel-header .title em{
    display: inline-block;
    vertical-align: top;
}
.jd-toolbar-cart i{
    width: 20px;
    height: 18px;
    background-position: 0 0;
    margin-top: 11px;
}
.jd-toolbar-cart main{
    position: relative;
}
.jd-toolbar-cart-content{
    width: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.hide{
    display: none;
}
.jd-toolbar-cart-tips .tip-inner{
    padding: 6px 5px;
    border: 1px solid #edd28b;
    background: #fffdee;
    text-align: center;
}
.jd-toolbar-cart-tips .tip-text{
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    color: #333;
}
.tip-btn{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin-left: 5px;
    color: #fff;
    vertical-align: middle;
    background: #c81623;
}
.tip-btn:hover{
    color: #fff;
}
.jd-toolbar-tip2{
    width: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -60px;
    text-align: center;
}
.jd-toolbar-tip2 .tip-face{
    display: inline-block;
    background-image: url("../img/index/toolbar/jdm-toolbar-face.png");
    _background-image: url("../img/index/toolbar/jdm-toolbar-face.png");
    background-repeat: no-repeat;
    width: 113px;
    height: 35px;
    background-position: 0 0;
    overflow: hidden;
}
.jd-toolbar-tip2 .tip-text a{
    color: #c81623;
}
.jd-toolbar-checkout{
    height: 40px;
    padding: 5px 110px 5px 5px;
    position: relative;
}
.jtc-number{
    line-height: 20px;
}
.jd-toolbar-checkout strong{
    font-family: verdana;
    color: #c81623;
}
.jtc-sum{
    line-height: 20px;
}
.jtc-btn{
    position: absolute;
    right: 5px;
    top: 7px;
    width: 110px;
    height: 35px;
    font: 16px/35px "微软雅黑";
    text-align: center;
    background: #c81623;
    color: #fff;
}
.jtc-btn:hover{
    color: #fff;
}
.jd-toolbar-header{
    position: absolute;
    top: 0;
    right: -6px;
}
.jd-toolbar-header-img{
    width: 37px;
    height: 100px;
    background: url("../img/index/toolbar/header.png") no-repeat;
    cursor: pointer;
}
.jd-toolbar-tabs{
    position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -61px;
}
.jd-toolbar-tab{
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.jd-toolbar-tab .tab-tip{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 6px;
    height: 6px;
    background-position: -150px -150px;
    z-index: 999;
}
.jd-toolbar-tab .tab-ico{
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 2;
    background-color: #7a6e6e;
}
.jd-toolbar-tab-jdvip .tab-ico{
    background-position: -88px -175px;
}
.jd-toolbar-tab-cart .tab-ico{
    background-position: -50px 0;
}
.jd-toolbar-tab-follow .tab-ico{
    background-position: -50px -50px;
}
.jd-toolbar-tab-history .tab-ico{
    background-position: -50px -100px;
}
.jd-toolbar-tab-message .tab-ico{
    background-position: -190px -150px;
}
.jd-toolbar-tab-jimi .tab-ico{
    background-position: -50px -150px;
}
.jd-toolbar-tab-top .tab-ico{
    background-position: -50px -250px;
}
.jd-toolbar-tab-feedback .tab-ico{
    background-position: -50px -300px;
}
.jd-toolbar-tab .tab-text{
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "microsoft yahei";
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: rgb(122, 110, 110);
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
}
.jd-toolbar-tab-hover, .jd-toolbar-tab-hover .tab-ico{
    background-color: #c81623;
}
.jd-toolbar-tab-hover .tab-tip{
    display: none;
}
.jd-toolbar-tab-hover .tab-text{
    left: -60px;
    background-color: #c81623;
}
.jd-toolbar-wrap-on .jd-toolbar{
    right:270px;
}
.jd-toolbar-footer{
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: -29px;
}
.tab-count{
    position: absolute;
    z-index: 3;
    right: 2px;
    top: -5px;
    height: 11px;
    padding: 1px 2px;
    border: 1px solid #b61d1d;
    overflow: hidden;
    color: #fff;
    font: 11px/11px verdana;
    text-align: center;
    min-width: 11px;
    _width: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #cc6060;
    background-image: -moz-linear-gradient(top,#cc6060,#b61d1d);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#cc6060),color-stop(1,#b61d1d));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6060', endColorstr='#b61d1d');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6060', endColorstr='#b61d1d');
    background-image: linear-gradient(to bottom,#cc6060 0,#b61d1d 100%);
}







































































